# 測試結果

## 2/22

### ADD Node Window `Mode node`

成功

### ADD Node Window `Mode edge`

成功

### DEL Node Window `Mode node`
成功
### DEL Node Window `Mode edge`
成功
### Graph operation
~~del edge 失敗 testdata3~~
成功

